body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 5% auto;
}

.header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5%;
}

.accordion {
  cursor: pointer;
  color: blue;
  transition: .3s;
}
.accordion:hover {
  color: black;
}

.accordion__item {
  border-top: 1px solid grey;
}

.name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.accordion__title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 5% 0;
  position: relative;
}

.accordion__title:after {
  content: "";
  display: inline-block;
  border: solid blue;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(-135deg);
  position: absolute;
  top: 50%;
  right: 0;
}

.checkbox {
  width: 0; 
  height: 0;
  appearance: none;
  position: absolute;
}

.checkbox:checked ~ .accordion__img {
  display: block;
}
.checkbox:checked ~ .accordion__title:after {
  transform: rotate(45deg);
  border: solid black;
  border-width: 0 3px 3px 0;
}
.checkbox:hover ~ .accordion__img {
  display: block;
}
.checkbox:hover ~ .accordion__title:after {
  transform: rotate(45deg);
  border: solid black;
  border-width: 0 3px 3px 0;
}
.checkbox:checked ~ .accordion__title {
  color: black;
}

.accordion__img {
  display: none;
}