body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 600px;
  margin: 5% auto;
}

.header {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 5%;
}

.accordion {
  cursor: pointer;
  color: blue;
  transition: .3s;
}
.accordion:hover {
  color: black;
}

.accordion__item {
  border-top: 1px solid grey;
}

.accordion__title {
  display: block;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 5% 0;
}

.checkbox {
  width: 0; 
  height: 0;
  appearance: none;
  position: absolute;
}

.checkbox:checked ~ .accordion__img {
  display: block;
}

.accordion__img {
  display: none;
}